mat-toolbar {
    display: flex;
    justify-content: space-between;
}
.titlelink {
    text-decoration: none;
    color: white;
    span {
        text-decoration: none;
        color: white;
    }
}