
<mat-toolbar color="primary">
  <a class="titlelink" routerLink="/">
    <span>Movie Time</span>
  </a>    
  <button mat-button routerLink="/movies">View Movies</button>
  <div class="right-container">
  <button mat-button routerLink="/login" *ngIf="!username">Sign In</button>

  <button mat-button *ngIf="username" [matMenuTriggerFor]="menu">{{username}}</button>
  <mat-menu #menu="matMenu">
  <button mat-menu-item >Change Acct Type</button>
  <button mat-menu-item (click)="logout()">Logout</button>

  </mat-menu>
  </div>
  </mat-toolbar>


  