mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }

  button {
    width: 90%;
    margin: 10px;
  }

  .fail-msg {
    color: red; 
    margin: 16px;
  }