
.outer-box {
    background-color: transparent;
}
.vid-container {
    display: flex;
    align-items: center;
}


// .vid-container {
//     position: relative;
//   }
  
//   .left-btn,
//   .right-btn {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     background-color: transparent;
//     color: #fff;
//   }
  
//   .left-btn {
//     left: 10px;
//   }
  
//   .right-btn {
//     right: 10px;
//   }