<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <div *ngIf="step === 1" class="step-container">
        <app-username-pw [parentFormGroup]="registrationForm"></app-username-pw>
        <div class="button-container">
          <button mat-button (click)="nextStep()">Next</button>
        </div>
      </div>
      
      <div *ngIf="step === 2" class="step-container">
        <app-key-page [parentFormGroup]="registrationForm"></app-key-page>
        <div class="button-container">
          <button mat-button (click)="previous()">Back</button>
          <button mat-button (click)="nextStep()">Next</button>
        </div>
      </div>
      
      <div *ngIf="step === 3" class="step-container">
        <app-plan-page [parentFormGroup]="registrationForm"></app-plan-page>
        <div class="button-container">
          <button mat-button (click)="previous()">Back</button>
          <button type="submit" color="primary" mat-raised-button>Submit</button>
        </div>
      </div>

</form>
