

<mat-card class="plan-card">
    <mat-card-header>
      <mat-card-title>Choose a plan</mat-card-title>
    </mat-card-header>
    <mat-card-content>
<div [formGroup]="parentFormGroup" class="plan-form">
    <mat-form-field appearance="fill">
      <mat-label>Plan Type</mat-label>
      <mat-select formControlName="plan">
        <mat-option value="USER">USER</mat-option>
        <mat-option value="SUPERUSER">SUPERUSER</mat-option>
        <mat-option value="ADMIN">ADMIN</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card-content>
</mat-card>