.head-container {
    width: 100%;
    display: flex;
    position: relative;
    color: white;

    a {
        color: white;
    }

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        filter: brightness(0.3); /* Adjust the value between 0 and 1 */
        z-index: -1;
      }
    
    .button-container {
        margin-top: 20px;
    }

}



.movie-details-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 300px;
    margin: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;

    img.mat-card-image {
      max-width: 100%; // Change to 100% to allow the image to adjust its width
      height: auto; // Allow the height to adjust proportionally
    }

    }


  
//   .movie-poster {
//     max-width: 100px;
//     height: 50%;
//   }
  
  mat-card-content {
    margin-top: 16px;
    color: #333333;
  }

 

  .title-details-container {
    padding: 40px;
    h1 {
        align-items: left;
    }
  }

.actors-container {
    margin-left: 40px;
    margin-right: 20px;
}

.cast-container {
    display: flex;
    gap: 16px;
    overflow-x: scroll; /* Enable horizontal scrolling */
    padding-bottom: 30px;
    position: relative;



}



.actor-card {
    width: 140px;
    min-width: 140px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);

    mat-card-content {
        padding-bottom: 0px;
    }
    h4 {
        margin: 0px;
    }
    p {
        margin: 0px;
    }
}

@media screen and (max-width: 600px) {
    .head-container {
      flex-direction: column; // Change to column layout on small screens
      align-items: center; // Center-align the content
  
      .movie-details-card {
        margin: 20px; // Reduce the margin for smaller spacing
      }
  
      .title-details-container {
        padding: 20px; // Reduce the padding for smaller spacing
      }
    }
}